@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: auto;
    padding: 30px;
}

h1{
    text-align: center;
}

img{
    width: 250px;
    height: 200px;
}

.firstDiv{
    padding: 110px;
    margin: 40px;
    border: 2px solid #000;
}

p{
    text-align: center;
}

.firstDivMudanca{
    float: right;
}

.firstMud{
    clear: right;
}

.figureLeft{
    float: left;
}

.figureRight{
    float: right;
}

.paraMud{
    clear: none;
}